In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler,LabelEncoder,OneHotEncoder
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('adult_with_headers.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [6]:
df.duplicated().sum()

24

In [7]:
df[df.duplicated(keep='first')]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [8]:
data=df.drop_duplicates(keep='first')
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,1.897808e+05,10.081815,1078.443741,87.368227,40.440329
std,13.637984,1.055565e+05,2.571633,7387.957424,403.101833,12.346889
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369930e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

### Scaling

In [10]:
std_sca=StandardScaler()
std_sca

StandardScaler()

In [11]:
for i in data[['age','fnlwgt','education_num','capital_gain','capital_loss','hours_per_week']]:
    data[i] = std_sca.fit_transform(data[[i]])

In [12]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.030390,State-gov,-1.063569,Bachelors,1.134777,Never-married,Adm-clerical,Not-in-family,White,Male,0.148292,-0.216743,-0.035664,United-States,<=50K
1,0.836973,Self-emp-not-inc,-1.008668,Bachelors,1.134777,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145975,-0.216743,-2.222483,United-States,<=50K
2,-0.042936,Private,0.245040,HS-grad,-0.420679,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145975,-0.216743,-0.035664,United-States,<=50K
3,1.056950,Private,0.425752,11th,-1.198407,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145975,-0.216743,-0.035664,United-States,<=50K
4,-0.776193,Private,1.408066,Bachelors,1.134777,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145975,-0.216743,-0.035664,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849519,Private,0.639678,Assoc-acdm,0.745913,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145975,-0.216743,-0.197650,United-States,<=50K
32557,0.103716,Private,-0.335436,HS-grad,-0.420679,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145975,-0.216743,-0.035664,United-States,>50K
32558,1.423579,Private,-0.358779,HS-grad,-0.420679,Widowed,Adm-clerical,Unmarried,White,Female,-0.145975,-0.216743,-0.035664,United-States,<=50K
32559,-1.216148,Private,0.110930,HS-grad,-0.420679,Never-married,Adm-clerical,Own-child,White,Male,-0.145975,-0.216743,-1.655530,United-States,<=50K
32560,0.983625,Self-emp-inc,0.929812,HS-grad,-0.420679,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.887635,-0.216743,-0.035664,United-States,>50K

In [13]:
min_max=MinMaxScaler()
min_max

MinMaxScaler()

In [14]:
for i in data[['age','fnlwgt','education_num','capital_gain','capital_loss','hours_per_week']]:
    data[i]=min_max.fit_transform(data[[i]])

In [15]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.021740,0.0,0.397959,United-States,<=50K
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States,<=50K
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States,<=50K
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States,<=50K
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,Female,0.000000,0.0,0.377551,United-States,<=50K
32557,0.315068,Private,0.096500,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.000000,0.0,0.397959,United-States,>50K
32558,0.561644,Private,0.094827,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,Female,0.000000,0.0,0.397959,United-States,<=50K
32559,0.068493,Private,0.128499,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,Male,0.000000,0.0,0.193878,United-States,<=50K
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.150242,0.0,0.397959,United-States,>50K

Standard Scaling (Standardization):

Preferred when the data is normally distributed or when using models that assume a Gaussian distribution, such as Linear Regression, SVMs, and PCA.
Useful when you want to center the data and remove the effect of different units or scales among features.

Min-Max Scaling (Normalization):

Ideal for algorithms that are sensitive to the magnitude of features, such as KNN, Neural Networks, and distance-based methods.
Preferred when you need to scale features to a specific range (e.g., [0, 1]) without assuming any specific data distribution.

### Encoding Techniques

In [16]:
num_categories=data[['workclass','education','marital_status','occupation','relationship','race','sex','native_country','income']].nunique()

In [17]:
num_categories

workclass          9
education         16
marital_status     7
occupation        15
relationship       6
race               5
sex                2
native_country    42
income             2
dtype: int64

In [18]:
data['sex'].value_counts()

sex
Male      21775
Female    10762
Name: count, dtype: int64

In [19]:
data['income'].value_counts()

income
<=50K    24698
>50K      7839
Name: count, dtype: int64

2 columns i.e. sex and income columns are having less than 5 categories

In [20]:
one_hot=OneHotEncoder(sparse=False,drop=None)
one_hot

OneHotEncoder(sparse=False)

In [21]:
encoded_array = one_hot.fit_transform(data[['sex', 'income']])
encoded_df = pd.DataFrame(encoded_array,columns=one_hot.get_feature_names_out(['sex', 'income']),index=data.index)

In [22]:
print("Encoded DataFrame:")
print(encoded_df)

Encoded DataFrame:
       sex_ Female  sex_ Male  income_ <=50K  income_ >50K
0              0.0        1.0            1.0           0.0
1              0.0        1.0            1.0           0.0
2              0.0        1.0            1.0           0.0
3              0.0        1.0            1.0           0.0
4              1.0        0.0            1.0           0.0
...            ...        ...            ...           ...
32556          1.0        0.0            1.0           0.0
32557          0.0        1.0            0.0           1.0
32558          1.0        0.0            1.0           0.0
32559          0.0        1.0            1.0           0.0
32560          1.0        0.0            0.0           1.0

[32537 rows x 4 columns]

In [23]:
data = pd.concat([data, encoded_df], axis=1).drop(['sex', 'income'], axis=1)

In [24]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,0.301370,State-gov,0.044302,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,0.021740,0.0,0.397959,United-States,0.0,1.0,1.0,0.0
1,0.452055,Self-emp-not-inc,0.048238,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,0.000000,0.0,0.122449,United-States,0.0,1.0,1.0,0.0
2,0.287671,Private,0.138113,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,0.000000,0.0,0.397959,United-States,0.0,1.0,1.0,0.0
3,0.493151,Private,0.151068,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,0.000000,0.0,0.397959,United-States,0.0,1.0,1.0,0.0
4,0.150685,Private,0.221488,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,0.000000,0.0,0.397959,Cuba,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,Private,0.166404,Assoc-acdm,0.733333,Married-civ-spouse,Tech-support,Wife,White,0.000000,0.0,0.377551,United-States,1.0,0.0,1.0,0.0
32557,0.315068,Private,0.096500,HS-grad,0.533333,Married-civ-spouse,Machine-op-inspct,Husband,White,0.000000,0.0,0.397959,United-States,0.0,1.0,0.0,1.0
32558,0.561644,Private,0.094827,HS-grad,0.533333,Widowed,Adm-clerical,Unmarried,White,0.000000,0.0,0.397959,United-States,1.0,0.0,1.0,0.0
32559,0.068493,Private,0.128499,HS-grad,0.533333,Never-married,Adm-clerical,Own-child,White,0.000000,0.0,0.193878,United-States,0.0,1.0,1.0,0.0
32560,0.479452,Self-emp-inc,0.187203,HS-grad,0.533333,Married-civ-spouse,Exec-managerial,Wife,White,0.150242,0.0,0.397959,United-States,1.0,0.0,0.0,1.0

In [25]:
label_enc=LabelEncoder()
label_enc

LabelEncoder()

In [26]:
data[['workclass','education','marital_status','occupation','relationship','race','native_country']]=data[['workclass','education','marital_status','occupation','relationship','race','native_country']].apply(lambda col: label_enc.fit_transform(col))

In [27]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,0.301370,7,0.044302,9,0.800000,4,1,1,4,0.021740,0.0,0.397959,39,0.0,1.0,1.0,0.0
1,0.452055,6,0.048238,9,0.800000,2,4,0,4,0.000000,0.0,0.122449,39,0.0,1.0,1.0,0.0
2,0.287671,4,0.138113,11,0.533333,0,6,1,4,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0
3,0.493151,4,0.151068,1,0.400000,2,6,0,2,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0
4,0.150685,4,0.221488,9,0.800000,2,10,5,2,0.000000,0.0,0.397959,5,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,2,13,5,4,0.000000,0.0,0.377551,39,1.0,0.0,1.0,0.0
32557,0.315068,4,0.096500,11,0.533333,2,7,0,4,0.000000,0.0,0.397959,39,0.0,1.0,0.0,1.0
32558,0.561644,4,0.094827,11,0.533333,6,1,4,4,0.000000,0.0,0.397959,39,1.0,0.0,1.0,0.0
32559,0.068493,4,0.128499,11,0.533333,4,1,3,4,0.000000,0.0,0.193878,39,0.0,1.0,1.0,0.0
32560,0.479452,5,0.187203,11,0.533333,2,4,5,4,0.150242,0.0,0.397959,39,1.0,0.0,0.0,1.0

### Pros and cons of One-hot encoding and Label encoding

##### One-hot Encoding
###### Pros:

One-hot encoding does not assume any order among categories, making it suitable for nominal categorical variables (categories with no intrinsic order).

Many machine learning algorithms perform better with one-hot encoded data, especially those that don't inherently assume an ordinal relationship between the categories.

Since each category is represented as a separate binary column, thereâ€™s no risk of the model misinterpreting the categorical data as ordinal.

##### Cons:

One-hot encoding significantly increases the dimensionality of the dataset, especially if the categorical variable has many categories. This can lead to the "curse of dimensionality," where models become less efficient and may suffer from overfitting.

The increase in dimensionality results in higher memory usage and increased computational cost, which might be a problem for large datasets.

One-hot encoding can result in sparse data, where many columns contain zeros, which can be inefficient for some algorithms.

#### Label Encoding
##### Pros:

Easy to implement and requires less memory because each category is represented by an integer.

Works well when the categorical variable has a natural ordinal relationship (e.g., low, medium, high).

Label encoding doesn't increase the dimensionality of the dataset, which is beneficial for algorithms that are sensitive to the curse of dimensionality.

##### Cons:

If there is no natural order among the categories, label encoding can be misleading because it assigns an arbitrary order, which might confuse the model into thinking that there is a ranking (e.g., Red=1, Green=2, Blue=3).

Some algorithms may interpret the encoded labels as ordinal, leading to biased predictions. For example, models like linear regression may assume a linear relationship between the labels, which may not exist.

### Feature Engineering

##### 1. Creating a feature: Work Hours Per Week Per Occupation

In [28]:
# Grouping by 'occupation' and calculating the mean hours worked per week
data['avg_hours_per_occupation'] = data.groupby('occupation')['hours_per_week'].transform('mean')

##### 2. Creating a feature: Age Group

In [29]:
# 2. Creating 'education_level_group' based on 'education'
def categorize_education(num):
    if num <= 8:
        return '1'  # level 1
    elif 9 <= num <= 12:
        return '2'  # level 2
    else:
        return '3'  # level 3

In [30]:
data['education_level_group'] = data['education'].apply(categorize_education)

In [31]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,avg_hours_per_occupation,education_level_group
0,0.301370,7,0.044302,9,0.800000,4,1,1,4,0.021740,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.373112,2
1,0.452055,6,0.048238,9,0.800000,2,4,0,4,0.000000,0.0,0.122449,39,0.0,1.0,1.0,0.0,0.448892,2
2,0.287671,4,0.138113,11,0.533333,0,6,1,4,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.376888,2
3,0.493151,4,0.151068,1,0.400000,2,6,0,2,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.376888,1
4,0.150685,4,0.221488,9,0.800000,2,10,5,2,0.000000,0.0,0.397959,5,1.0,0.0,1.0,0.0,0.422374,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,2,13,5,4,0.000000,0.0,0.377551,39,1.0,0.0,1.0,0.0,0.392488,1
32557,0.315068,4,0.096500,11,0.533333,2,7,0,4,0.000000,0.0,0.397959,39,0.0,1.0,0.0,1.0,0.405638,2
32558,0.561644,4,0.094827,11,0.533333,6,1,4,4,0.000000,0.0,0.397959,39,1.0,0.0,1.0,0.0,0.373112,2
32559,0.068493,4,0.128499,11,0.533333,4,1,3,4,0.000000,0.0,0.193878,39,0.0,1.0,1.0,0.0,0.373112,2
32560,0.479452,5,0.187203,11,0.533333,2,4,5,4,0.150242,0.0,0.397959,39,1.0,0.0,0.0,1.0,0.448892,2

##### Log transformation of a skewed numerical feature (e.g., 'capital_gain')

In [32]:
# To avoid log(0) errors, add 1 to the feature before applying the log transformation
data['log_capital_gain'] = np.log1p(data['capital_gain'])

In [33]:
data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,avg_hours_per_occupation,education_level_group,log_capital_gain
0,0.301370,7,0.044302,9,0.800000,4,1,1,4,0.021740,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.373112,2,0.021507
1,0.452055,6,0.048238,9,0.800000,2,4,0,4,0.000000,0.0,0.122449,39,0.0,1.0,1.0,0.0,0.448892,2,0.000000
2,0.287671,4,0.138113,11,0.533333,0,6,1,4,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.376888,2,0.000000
3,0.493151,4,0.151068,1,0.400000,2,6,0,2,0.000000,0.0,0.397959,39,0.0,1.0,1.0,0.0,0.376888,1,0.000000
4,0.150685,4,0.221488,9,0.800000,2,10,5,2,0.000000,0.0,0.397959,5,1.0,0.0,1.0,0.0,0.422374,2,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,4,0.166404,7,0.733333,2,13,5,4,0.000000,0.0,0.377551,39,1.0,0.0,1.0,0.0,0.392488,1,0.000000
32557,0.315068,4,0.096500,11,0.533333,2,7,0,4,0.000000,0.0,0.397959,39,0.0,1.0,0.0,1.0,0.405638,2,0.000000
32558,0.561644,4,0.094827,11,0.533333,6,1,4,4,0.000000,0.0,0.397959,39,1.0,0.0,1.0,0.0,0.373112,2,0.000000
32559,0.068493,4,0.128499,11,0.533333,4,1,3,4,0.000000,0.0,0.193878,39,0.0,1.0,1.0,0.0,0.373112,2,0.000000
32560,0.479452,5,0.187203,11,0.533333,2,4,5,4,0.150242,0.0,0.397959,39,1.0,0.0,0.0,1.0,0.448892,2,0.139972

#### Rationale Behind Feature Engineering Choices

Different occupations often have varying demands in terms of work hours. For instance, professionals in some occupations may work longer hours, which could correlate with higher income levels. By creating a feature that captures the average work hours per week for each occupation, we aim to encode this relationship into the dataset.

The capital_gain feature is often heavily skewed, meaning that most data points are clustered around lower values, with a few very high values creating a long tail. Such skewness can negatively impact model performance, especially in models that assume or work better with normally distributed data (e.g., linear regression, neural networks).

### Feature Selection

#### Using the Isolation Forest Algorithm to Identify and Remove Outliers

In [34]:
from sklearn.ensemble import IsolationForest

In [35]:
iso_forest=IsolationForest(contamination=0.01)
iso_forest

IsolationForest(contamination=0.01)

In [36]:
outliers = iso_forest.fit_predict(data)

In [37]:
data['outlier'] = outliers

In [38]:
data_clean = data[data['outlier'] == 1].drop(columns=['outlier'])

In [39]:
print(f"Original DataFrame size: {data.shape}")
print(f"Cleaned DataFrame size: {data_clean.shape}")

Original DataFrame size: (32537, 21)
Cleaned DataFrame size: (32211, 20)

#### Applying the Predictive Power Score (PPS)

In [40]:
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\karth\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\karth\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\karth\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\karth\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\karth\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\karth\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\karth\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [41]:
import ppscore as pps

In [42]:
pps_matrix = pps.matrix(data_clean)

In [43]:
# Filter the matrix for scores above a certain threshold (0.2)
strong_pps = pps_matrix[pps_matrix['ppscore'] > 0.2]
strong_pps

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,age,age,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
21,workclass,workclass,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
42,fnlwgt,fnlwgt,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
63,education,education,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
64,education,education_num,1.000000,regression,True,mean absolute error,0.123280,4.575051e-15,DecisionTreeRegressor()
78,education,education_level_group,1.000000,classification,True,weighted F1,0.414000,1.000000e+00,DecisionTreeClassifier()
83,education_num,education,1.000000,regression,True,mean absolute error,2.661800,0.000000e+00,DecisionTreeRegressor()
84,education_num,education_num,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
98,education_num,education_level_group,1.000000,classification,True,weighted F1,0.414000,1.000000e+00,DecisionTreeClassifier()
100,marital_status,age,0.208075,regression,True,mean absolute error,0.150786,1.194115e-01,DecisionTreeRegressor()
105,marital_status,marital_status,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
126,occupation,occupation,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
137,occupation,avg_hours_per_occupation,0.999796,regression,True,mean absolute error,0.031016,6.329889e-06,DecisionTreeRegressor()
145,relationship,marital_status,0.301881,regression,True,mean absolute error,1.166200,8.141461e-01,DecisionTreeRegressor()
147,relationship,relationship,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
153,relationship,sex_ Female,0.217355,regression,True,mean absolute error,0.327400,2.562378e-01,DecisionTreeRegressor()
154,relationship,sex_ Male,0.217355,regression,True,mean absolute error,0.327400,2.562378e-01,DecisionTreeRegressor()
168,race,race,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
189,capital_gain,capital_gain,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
199,capital_gain,log_capital_gain,0.997595,regression,True,mean absolute error,0.007081,1.702741e-05,DecisionTreeRegressor()
210,capital_loss,capital_loss,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
231,hours_per_week,hours_per_week,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
252,native_country,native_country,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
273,sex_ Female,sex_ Female,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
274,sex_ Female,sex_ Male,1.000000,regression,True,mean absolute error,0.327400,0.000000e+00,DecisionTreeRegressor()
293,sex_ Male,sex_ Female,1.000000,regression,True,mean absolute error,0.327400,0.000000e+00,DecisionTreeRegressor()
294,sex_ Male,sex_ Male,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
315,income_ <=50K,income_ <=50K,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
316,income_ <=50K,income_ >50K,1.000000,regression,True,mean absolute error,0.234200,0.000000e+00,DecisionTreeRegressor()
335,income_ >50K,income_ <=50K,1.000000,regression,True,mean absolute error,0.234200,0.000000e+00,DecisionTreeRegressor()
336,income_ >50K,income_ >50K,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
346,avg_hours_per_occupation,occupation,0.999731,regression,True,mean absolute error,3.712800,1.000000e-03,DecisionTreeRegressor()
357,avg_hours_per_occupation,avg_hours_per_occupation,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
363,education_level_group,education,0.593723,regression,True,mean absolute error,2.661800,1.081428e+00,DecisionTreeRegressor()
378,education_level_group,education_level_group,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None
389,log_capital_gain,capital_gain,0.997431,regression,True,mean absolute error,0.008114,2.084421e-05,DecisionTreeRegressor()
399,log_capital_gain,log_capital_gain,1.000000,predict_itself,True,None,0.000000,1.000000e+00,None

In [44]:
print(strong_pps[['x', 'y', 'ppscore']])

                            x                         y   ppscore
0                         age                       age  1.000000
21                  workclass                 workclass  1.000000
42                     fnlwgt                    fnlwgt  1.000000
63                  education                 education  1.000000
64                  education             education_num  1.000000
78                  education     education_level_group  1.000000
83              education_num                 education  1.000000
84              education_num             education_num  1.000000
98              education_num     education_level_group  1.000000
100            marital_status                       age  0.208075
105            marital_status            marital_status  1.000000
126                occupation                occupation  1.000000
137                occupation  avg_hours_per_occupation  0.999796
145              relationship            marital_status  0.301881
147              relationship              relationship  1.000000
153              relationship               sex_ Female  0.217355
154              relationship                 sex_ Male  0.217355
168                      race                      race  1.000000
189              capital_gain              capital_gain  1.000000
199              capital_gain          log_capital_gain  0.997595
210              capital_loss              capital_loss  1.000000
231            hours_per_week            hours_per_week  1.000000
252            native_country            native_country  1.000000
273               sex_ Female               sex_ Female  1.000000
274               sex_ Female                 sex_ Male  1.000000
293                 sex_ Male               sex_ Female  1.000000
294                 sex_ Male                 sex_ Male  1.000000
315             income_ <=50K             income_ <=50K  1.000000
316             income_ <=50K              income_ >50K  1.000000
335              income_ >50K             income_ <=50K  1.000000
336              income_ >50K              income_ >50K  1.000000
346  avg_hours_per_occupation                occupation  0.999731
357  avg_hours_per_occupation  avg_hours_per_occupation  1.000000
363     education_level_group                 education  0.593723
378     education_level_group     education_level_group  1.000000
389          log_capital_gain              capital_gain  0.997431
399          log_capital_gain          log_capital_gain  1.000000

##### Impact of Outliers on Model Performance:

Distortion of Predictions: Outliers can disproportionately influence the model's predictions, especially in algorithms sensitive to extreme values, such as linear regression and neural networks.

Reduced Model Accuracy: Models may attempt to fit these outliers, leading to overfitting, where the model performs well on training data but poorly on unseen data.

Bias in Statistical Metrics: Outliers can skew metrics like mean and variance, leading to incorrect conclusions about the data distribution and feature importance.

Using PPS and Correlation Together: While PPS is powerful, combining it with the correlation matrix can provide a more holistic view of the data, ensuring that both linear and non-linear relationships are considered in the feature selection process.

PPS vs. Correlation: PPS offers a more versatile approach to understanding feature relationships, making it a valuable tool in feature selection, especially when dealing with complex datasets that include both categorical and numerical data.